@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap");
body {
  background: #F2F2F2;
  margin: 0;
  font-family: Raleway;
}

.navbar {
  background-color: #242424;
  padding: 1em 2em;
}

.navbar .logo {
  text-decoration: none;
  font-weight: bold;
  color: #FFFFFF;
  font-size: 2em;
}

.navbar .logo span {
  color: #CAA900;
}

.navbar .mobile-menu-open {
  fill: #CAA900;
}

.navbar nav {
  display: none;
}

.navbar nav.mobile-menu-open {
  display: block;
}

.navbar nav {
  position: fixed;
  z-index: 999;
  right: 0;
  top: 0;
  background: #242424;
  height: 100vh;
  width: 100vw;
  padding: 1em;
}

.navbar nav a {
  margin-left: 1em;
}

.navbar nav ul {
  margin-top: 5em;
}

.navbar nav li a {
  color: #FFFFFF;
  text-decoration: none;
  display: block;
  padding: 0.5em;
  font-size: 1.3em;
  text-align: center;
}

.navbar .mobile-menu-close {
  float: right;
  margin: 0.5em 1.2em;
  cursor: pointer;
}

.navbar .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: space-between;
}

.mobile-menu-open {
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

section {
  padding: 5em 2em;
}

.left-col h1 {
  font-size: 2em;
}

.left-col .rent {
  background: #CAA900;
  color: #FFFFFF;
  text-decoration: none;
  padding: 0.6em 1.3em;
  font-size: 1.4em;
  border-radius: 0.2em;
  font-weight: bold;
  display: inline-block;
}

.hero {
  color: #FFFFFF;
  position: relative;
  height: 400px;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.5) url(..//images/berline.jpg);
  background-blend-mode: darken;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero .container {
  position: absolute;
  top: 50%;
  bottom: 50%;
}

.features {
  background: #F8F4D9;
}

ul.features-list {
  margin: 0;
  padding-left: 0.1em;
}

ul.features-list li {
  margin-bottom: 1em;
  margin-left: 2em;
  position: relative;
}

ul.features-list li:before {
  content: '';
  left: -2em;
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url(../icons/checkmark.svg);
  background-size: contain;
  margin-right: 0.5em;
}

.gallery {
  background: #242424;
  width: auto;
}

.gallery .view-button {
  padding-top: 2em;
  text-align: center;
}

.gallery .view-button .view-more {
  background: #CAA900;
  color: #FFFFFF;
  text-decoration: none;
  padding: 0.6em 1.3em;
  font-size: 1.4em;
  border-radius: 0.2em;
  font-weight: bold;
  text-align: center;
}

.vehicles {
  background: #242424;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.vehicles .car-card {
  background: #FFFFFF;
  color: #242424;
  border-radius: 0.5em;
  margin: 1em auto;
}

.vehicles .car-card img {
  border-radius: 0.5em;
  -o-object-fit: cover;
     object-fit: cover;
}

.car-title {
  text-align: center;
  font-size: 1.7em;
}

.car-price {
  text-align: center;
  font-size: 1.1em;
}

.car-price span {
  color: #CAA900;
  font-weight: bold;
}

ul.car-specs {
  margin-left: 2em;
  margin-right: 0.5em;
  margin-bottom: 1em;
  font-size: 0.8em;
}

ul.car-specs li.car-specs-fuel {
  margin-bottom: 1em;
  margin-left: 2em;
  position: relative;
}

ul.car-specs li.car-specs-fuel span {
  color: #CAA900;
  font-weight: bold;
}

ul.car-specs li.car-specs-fuel:before {
  content: '';
  left: -2em;
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url(../icons/fuel.svg);
  background-size: contain;
  margin-right: 0.5em;
  top: -0.2em;
}

ul.car-specs li.car-specs-transmission {
  margin-bottom: 1em;
  margin-left: 2em;
  position: relative;
}

ul.car-specs li.car-specs-transmission span {
  color: #CAA900;
  font-weight: bold;
}

ul.car-specs li.car-specs-transmission:before {
  content: '';
  left: -2em;
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url(../icons/transmission.svg);
  background-size: contain;
  margin-right: 0.5em;
  top: -0.2em;
}

h2 {
  font-size: 2em;
}

label {
  display: block;
  font-size: 1.2em;
  margin-bottom: 0.5em;
}

input, textarea {
  width: 100%;
  padding: 0.8em;
  margin-bottom: 1em;
  border-radius: 0.3em;
  border: 1px solid gray;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

select {
  width: 100%;
  padding: 0.8em;
  margin-bottom: 1em;
  border-radius: 0.3em;
  border: 1px solid gray;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

input[type="submit"] {
  background-color: #CAA900;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 1.3em;
  border: none;
  margin-bottom: 5em;
  display: inline-block;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .mobile-menu-open, .mobile-menu-close {
    display: none;
  }
  .navbar .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 180px auto;
        grid-template-columns: 180px auto;
  }
  .navbar nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background: none;
    position: unset;
    height: auto;
    width: 100%;
    padding: 0;
  }
  .navbar nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 0;
  }
  .navbar nav li.current a {
    color: #CAA900;
    font-weight: bold;
  }
  .vehicles {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
/*# sourceMappingURL=style.css.map */